.ol1{
word-spacing: 5px;
line-height: 35px;
color:brown;
font-size: 18px;

}
.ul1{
color: brown;
word-spacing: 5px;
line-height: 40px;
font-size: 18px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
letter-spacing: 6px;
}
p{
color: brown;
}